In [13]:
import numpy as np
import pandas as pd
pd.set_option('display.max.columns', 50)
from matplotlib import pyplot as plt
import seaborn as sns
sns.set()

In [14]:
df = pd.read_csv('Datasets/ltv_prediction_demo_data.csv',index_col=0)

/home/wubbalubba/anaconda3/lib/python3.6/site-packages/numpy/lib/arraysetops.py:569: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

In [15]:
df.columns

Index(['idApp', 'dt', 'ltvDay1', 'ltvDay2', 'ltvDay3', 'ltvDay4', 'ltvDay5',
       'ltvDay6', 'ltvDay7', 'ltvDay8', 'ltvDay30'],
      dtype='object')

In [16]:
df.head()

,idApp,dt,ltvDay1,ltvDay2,ltvDay3,ltvDay4,ltvDay5,ltvDay6,ltvDay7,ltvDay8,ltvDay30
0,279,2018-02-18,0,0,0,2190000,2190000,2190000,5780000,5780000,5780000
1,279,2018-04-20,0,0,0,0,0,0,0,0,0
2,5620,2017-09-28,0,0,0,0,0,0,0,0,0
3,279,2017-12-11,0,0,0,0,0,0,0,3652414,12123190
4,5620,2018-02-06,1490000,1490000,1490000,1490000,1490000,1490000,1490000,1490000,1490000

In [17]:
df.shape

(3324150, 11)

In [1]:
df.idApp.nunique()

NameError: name 'df' is not defined